<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="wrapper">
        <table>
        {% for i in range(4)%}
            <tr>
                {% for i in range(4): %}
                <td class="box black"></td>
                <td class="box red"></td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(4): %}
                <td class="box red"></td>
                <td class="box black"></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>